doctype html
html
  head
  block title
  block scripts
  block style
  style 
    include ../static/style-base.css
    
  body
    nav#navbar
      img(src="/static/images/logo.png", alt="logo")
      h2 #[a(href="/") SDA] 
      ul
            
        li #[a(href="/") Home] 
        li #[a(href="#" ) Services] 
        li #[a(href="#sp" ) Sponcers] 
        li #[a(href="#") About Us] 
        li #[a(href="/contact") Contact Us]
  block content

  footer#footer
    p Copyright (c) Dance Accademy